.Navbar {
    width: 130px;
    height: 100vh;               
    background-color: rgb(255, 246, 245);    
    border-right: 1px solid #e5e5e5;
    padding: 20px 15px;
    box-sizing: border-box;
    position: fixed;              
    left: 0;
    top: 0;
}
.Navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;                    
}
.Navbar a {
    text-decoration: none;
    color: #0f0f0f;               
    font-size: 17px;
    font-weight: 500;
    display: block;
    padding: 10px 14px;
    border-radius: 10px;           
    transition: background 0.2s;
}
.Navbar a.active {
    background-color: #e5e5e5;
    font-weight: 600;
}
.dgfj{
    display: flex;
    bottom: 220px;
    align-items:center ;
    gap:-10px ;
}